@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Opsilon';
  src: url('/fonts/Opsilon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opsilon';
  src: url('/fonts/OpsilonItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TexGyreHeros';
  src: url('/fonts/TexGyreHeros-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TexGyreHeros';
  src: url('/fonts/TexGyreHeros-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TexGyreHeros';
  src: url('/fonts/TexGyreHeros-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TexGyreHeros';
  src: url('/fonts/TexGyreHeros-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* TexGyreHerosCn */
@font-face {
  font-family: 'TexGyreHerosCn';
  src: url('/fonts/TexGyreHerosCn-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TexGyreHerosCn';
  src: url('/fonts/TexGyreHerosCn-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TexGyreHerosCn';
  src: url('/fonts/TexGyreHerosCn-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TexGyreHerosCn';
  src: url('/fonts/TexGyreHerosCn-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Opsilon', sans-serif;
}

/* Add this to your global CSS file */
@keyframes subtle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subtle-coin-spin {
  animation: subtle-spin 1.5s linear infinite;
  transform-origin: center;
}

@keyframes circle-draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes checkmark-draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes cross-draw {
  to {
    stroke-dashoffset: 0;
  }
}